@tailwind base;
@tailwind components;
@tailwind utilities;
background-image: url('./assest/l2.svg');
background-image: url('./assest/l2.svg');
background-image: url('./assest/l2.svg');
background-image: url('./assest/l2.svg');
